Lenguajes de marcas/XML/DTD/listacursos.dtd

<!ELEMENT listacursos (curso+)>
<!ELEMENT curso (alumno+)>
<!ELEMENT alumno (DNI,nombre,apellido,segundo_apellido?,lista_asignaturas)>

<!ELEMENT DNI (#PCDATA)>
<!ELEMENT nombre (#PCDATA)>
<!ELEMENT apellido (#PCDATA)>
<!ELEMENT segundo_apellido (#PCDATA)>

<!ELEMENT lista_asignaturas (asignatura+)>
<!ELEMENT asignatura (nombre,profesor)>
<!ATTLIST asignatura codigo CDATA #REQUIRED>

<!ELEMENT profesor (NRP,nombre,apellido,segundo_apellido?)>
<!ELEMENT NRP (#PCDATA)>
